<div class="container">
  <div class="title">
    <div class="ticketTitle">
      <img src="../assets/icons/arrow-right.svg" alt="Icon" />
      <p>تذكرة رقم #2342</p>
    </div>
    <div class="ticketEdit">
      <img src="../assets/icons/edit.svg" />
      <p>تعديل</p>
    </div>
  </div>
  <div class="topPart">
    <div class="chart">
      <p class="usageTitle">إحصائيات إستخدام القسيمة</p>
      <div class="usageDateContainer">
        <p class="usageDate">
          05 يوليو , 2023 - 05 أغسطس , 2023
          <img src="../assets/icons/arrow-bottom.svg" />
        </p>
        <p class="usageDateDropbox">
          سنويًا <img src="../assets/icons/arrow-bottom.svg" />
        </p>
      </div>

      <div
        id="chart"
        *ngIf="
          chartOptions.chart &&
          chartOptions.series &&
          chartOptions.xaxis &&
          chartOptions.yaxis &&
          chartOptions.stroke &&
          chartOptions.tooltip &&
          chartOptions.colors &&
          chartOptions.dataLabels
        "
      >
        <apx-chart
          [series]="chartOptions.series"
          [chart]="chartOptions.chart"
          [xaxis]="chartOptions.xaxis"
          [yaxis]="chartOptions.yaxis"
          [stroke]="chartOptions.stroke"
          [tooltip]="chartOptions.tooltip"
          [dataLabels]="chartOptions.dataLabels"
          [colors]="chartOptions.colors"
          class="tooltib"
        ></apx-chart>
      </div>
    </div>

    <div class="ticketOffer">
      <div class="ticketOfferTopPart">
        <div class="ticketOfferTitleContainer">
          <div class="ticketOfferTitleComponent">
            <p class="ticketOfferTitle">عرض التذكرة الخاصة بالفيلم</p>
            <div class="ticketOfferLinkContainer">
              <p><a href="www.tazkty.com/473847">www.tazkty.com/473847</a></p>
              <img src="../assets/icons/copy.svg" />
            </div>
          </div>

          <div class="ticketOfferRemove">
            <img src="../assets/icons/trash.svg" width="22" height="22" />
            <img
              src="../assets/icons/delete-stat-container.svg"
              class="deleteStatContainer"
            />
          </div>
        </div>

        <div class="ticketOfferexpiredDate">
          <p>فعال حتي 15 يوليو 2023</p>
        </div>
      </div>
      <div class="ticketOfferBottomPart">
        <div class="ticketOfferNumber">
          <p class="ticketOfferNumberTitle">
            خصم <span class="number">25%</span>
          </p>

          <div class="ticketOfferNumberSend">
            <img src="../assets/icons/send.svg" width="16" height="16" />
            <p>مشاركة</p>
          </div>
        </div>
        <img
          src="../assets/imgs/scan.png"
          width="82"
          height="82"
          class="scanImg"
        />
      </div>
    </div>
  </div>
  <div class="table">
    <div class="tableOptions">
      <div class="tableFilter">
        <p>مبيعات التذاكر</p>
        <div class="search">
          <img src="../assets/icons/search.svg" width="16" height="16" />
          <p>بحث عن ..</p>
        </div>
        <div class="filter">
          <img src="../assets/icons/filter.svg" />
        </div>
        <div class="order filter">
          <img src="../assets/icons/order.svg" />
        </div>
      </div>
      <div class="tableButtons">
        <div class="toggle">
          <img src="../assets/icons/active-toggle.svg" />
          <p>مفعلة</p>
        </div>

        <button class="newTicketButton">حجز تذكرة جديدة</button>
      </div>
    </div>
    <div class="ticketTable">
      <div class="ticketTableHeader">
        <p style="margin-right: 8px">#</p>
        <p style="margin-right: 90px">المستخدم</p>
        <p style="margin-right: 54px">رقم التذكرة</p>
        <p style="margin-right: 44px">
          قيمى التذكرة <img src="../assets/icons/order.svg" />
        </p>
        <p style="margin-right: 153px">السينمات</p>
        <p style="margin-right: 181px">عدد الأشخاص</p>
        <p style="margin-right: 79px">عدد مرات الشراء</p>
        <p style="margin-right: 137px">التذكرة</p>
      </div>
      <div class="divider"></div>
      <div class="ticketTableContent">
        <p style="color: #898995; margin-right: 8px">1</p>
        <div class="userDetail">
          <img src="../assets/icons/useravatar.svg" />
          <p style="margin-right: 9px; font-size: 12px">
            أحمد محمود
            <br />
            <span style="color: #92a1ad; font-size: 10px">0123456789</span>
          </p>
        </div>
        <p style="margin-right: 49px">C-101</p>
        <p style="margin-right: 82px">$40</p>
        <p style="margin-right: 74px">
          <img
            src="../assets/icons/addresscontainer.svg"
            style="position: absolute; bottom: 275px; left: 525px"
          />
          سينما مصر , مول العرب , برج الأطنان , سرايا القبة
        </p>
        <p style="margin-right: 108px">1</p>
        <p style="margin-right: 126px">مرة واحدة</p>
        <div class="ticketDetail">
          <img src="../assets/icons/ticket.svg" />
          <p style="margin-right: 9px; font-size: 11.5px">
            تذكرة رقم 45.pdf
            <br />
            <span style="font-size: 10px; color: #00000062">9mb . PDF</span>
          </p>
          <img src="../assets/icons/download.svg" style="margin-right: 22px" />
        </div>
      </div>
      <div class="divider"></div>
      <div class="ticketTableContent">
        <p style="color: #898995; margin-right: 8px">2</p>
        <div class="userDetail">
          <img src="../assets/icons/avatarpic2.svg" />
          <p style="margin-right: 9px; font-size: 12px">
            أحمد محمود
            <br />
            <span style="color: #92a1ad; font-size: 10px">0123456789</span>
          </p>
        </div>
        <p style="margin-right: 49px">C-101</p>
        <p style="margin-right: 82px">$40</p>
        <p style="margin-right: 74px">
          سينما مصر , مول العرب , برج الأطنان , سرايا القبة
        </p>
        <p style="margin-right: 108px">1</p>
        <p style="margin-right: 126px">مرة واحدة</p>
        <div class="ticketDetail">
          <img src="../assets/icons/ticket.svg" />
          <p style="margin-right: 9px; font-size: 11.5px">
            تذكرة رقم 45.pdf
            <br />
            <span style="font-size: 10px; color: #00000062">9mb . PDF</span>
          </p>
          <img src="../assets/icons/download.svg" style="margin-right: 22px" />
        </div>
      </div>
      <div class="divider"></div>
      <div class="ticketTableContent">
        <p style="color: #898995; margin-right: 8px">3</p>
        <div class="userDetail">
          <img src="../assets/icons/avatarpic.svg" />
          <p style="margin-right: 9px; font-size: 12px">
            أحمد محمود
            <br />
            <span style="color: #92a1ad; font-size: 10px">0123456789</span>
          </p>
        </div>
        <p style="margin-right: 49px">C-101</p>
        <p style="margin-right: 82px">$40</p>
        <p style="margin-right: 74px">
          سينما مصر , مول العرب , برج الأطنان , سرايا القبة
        </p>
        <p style="margin-right: 108px">1</p>
        <p style="margin-right: 126px">مرة واحدة</p>
        <div class="ticketDetail">
          <img src="../assets/icons/ticket.svg" />
          <p style="margin-right: 9px; font-size: 11.5px">
            تذكرة رقم 45.pdf
            <br />
            <span style="font-size: 10px; color: #00000062">9mb . PDF</span>
          </p>
          <img src="../assets/icons/download.svg" style="margin-right: 22px" />
        </div>
      </div>
      <div class="divider"></div>
      <div class="ticketTableContent">
        <p style="color: #898995; margin-right: 8px">4</p>
        <div class="userDetail">
          <img src="../assets/icons/useravatar.svg" />
          <p style="margin-right: 9px; font-size: 12px">
            أحمد محمود
            <br />
            <span style="color: #92a1ad; font-size: 10px">0123456789</span>
          </p>
        </div>
        <p style="margin-right: 49px">C-101</p>
        <p style="margin-right: 82px">$40</p>
        <p style="margin-right: 74px">
          سينما مصر , مول العرب , برج الأطنان , سرايا القبة
        </p>
        <p style="margin-right: 108px">1</p>
        <p style="margin-right: 126px">مرة واحدة</p>
        <div class="ticketDetail">
          <img src="../assets/icons/ticket.svg" />
          <p style="margin-right: 9px; font-size: 11.5px">
            تذكرة رقم 45.pdf
            <br />
            <span style="font-size: 10px; color: #00000062">9mb . PDF</span>
          </p>
          <img src="../assets/icons/download.svg" style="margin-right: 22px" />
        </div>
      </div>
      <div class="divider"></div>
      <div class="ticketTableFooter">
        <p style="font-size: 12px; color: #3333338e">
          عرض
          <span
            style="
              height: 31px;
              border-radius: 6px;
              border: 1px solid #dddd;
              text-align: center;
              margin-right: 7px;
              margin-left: 7px;
              padding-right: 10px;
              padding-left: 10px;
            "
          >
            <img
              src="../assets/icons/arrow-bottom.svg"
              style="margin-left: 6px"
            />20</span
          >
          من أصل 250
        </p>

        <div class="navigation">
          <img src="../assets/icons/arrowright.svg" />
          <div class="numbers">
            <p
              style="
                width: 27px;
                text-align: center;
                background-color: #8a74f9;
                color: #fff;
                border-radius: 5px;
              "
            >
              1
            </p>
            <p style="width: 27px; text-align: center">2</p>
            <p style="width: 27px; text-align: center">3</p>
            <p style="width: 27px; text-align: center">4</p>
            <p style="width: 27px; text-align: center">5</p>
          </div>

          <img src="../assets/icons/arrowleft.svg" />
        </div>
      </div>
    </div>
  </div>
</div>
